

/* Navbar */
/* Button Container */
.dashboard-container{
background-image: url('new.jpg');
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
      
}

/* Register Toggle Button */
.register-toggle {
    padding: 15px 20px;
    margin: 0 10px;
    background-color: #ffa726;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-toggle.active {
    background-color: #fb8c00;
}

.register-toggle:hover {
    background-color: #e07b39;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Form Styling */
.form-container {
    margin-top: 30px;
    width: 60%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.form-container:hover {
    transform: scale(1.02);
}

.input-field {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    
}

.input-field:focus {
    border-color: #1e88e5;
    outline: none;
    box-shadow: 0 0 6px rgba(30, 136, 229, 0.3);
}

.register-button {
    width: 100%;
    padding: 12px;
    background-color: #1e88e5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-button:hover {
    background-color: #1565c0;
    transform: scale(1.03);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}


